@import "tailwindcss";

.root {
  isolation: isolate;
}

@theme {
  --font-inter: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --text-2xs: 0.7rem;
  --text-2xs--line-height: 0.85rem;
  --text-3xs: 0.6rem;
  --text-3xs--line-height: 0.75rem;
}

html {
  background-color: white;
  color: black;

  --plain-white: white;
  --plain-black: black;
  --plain-50: oklch(98% 0.002 250);
  --plain-100: oklch(96% 0.003 250);
  --plain-200: oklch(92% 0.006 250);
  --plain-300: oklch(87% 0.01 250);
  --plain-400: oklch(70% 0.02 250);
  --plain-500: oklch(55% 0.03 250);
  --plain-600: oklch(44% 0.03 250);
  --plain-700: oklch(37% 0.03 250);
  --plain-800: oklch(27% 0.03 250);
  --plain-900: oklch(21% 0.03 250);
  --plain-950: oklch(13% 0.03 250);
  --accent: oklch(58.8% 0.158 241);
}

.dark {
  background-color: black;
  color: white;

  --plain-white: black;
  --plain-black: white;
  --plain-950: oklch(98% 0.002 250);
  --plain-900: oklch(96% 0.003 250);
  --plain-800: oklch(92% 0.006 250);
  --plain-700: oklch(87% 0.01 250);
  --plain-600: oklch(70% 0.02 250);
  --plain-500: oklch(55% 0.03 250);
  --plain-400: oklch(44% 0.03 250);
  --plain-300: oklch(37% 0.03 250);
  --plain-200: oklch(27% 0.03 250);
  --plain-100: oklch(21% 0.03 250);
  --plain-50: oklch(13% 0.03 250);
  --accent: oklch(0.81 0.17 75.35);
}

.tan {
  --plain-white: white;
  --plain-black: black;
  --plain-50: oklch(98% 0.03 70);
  --plain-100: oklch(96% 0.04 70);
  --plain-200: oklch(92% 0.05 70);
  --plain-300: oklch(87% 0.1 70);
  --plain-400: oklch(70% 0.15 70);
  --plain-500: oklch(55% 0.2 70);
  --plain-600: oklch(44% 0.2 70);
  --plain-700: oklch(37% 0.2 70);
  --plain-800: oklch(27% 0.2 70);
  --plain-900: oklch(21% 0.2 70);
  --plain-950: oklch(13% 0.2 70);
  --accent: oklch(50% 0.2 165);

  background-color: var(--plain-50);
  color: var(--plain-800);
}

.pink {
  --plain-white: white;
  --plain-black: black;
  --plain-50: oklch(98% 0.03 350);
  --plain-100: oklch(96% 0.04 350);
  --plain-200: oklch(92% 0.05 350);
  --plain-300: oklch(87% 0.1 350);
  --plain-400: oklch(70% 0.15 350);
  --plain-500: oklch(55% 0.2 350);
  --plain-600: oklch(44% 0.2 350);
  --plain-700: oklch(37% 0.2 350);
  --plain-800: oklch(27% 0.2 350);
  --plain-900: oklch(21% 0.2 350);
  --plain-950: oklch(13% 0.2 350);
  --accent: oklch(73% 0.2 350);

  background-color: var(--plain-50);
  color: var(--plain-800);
}
